.logo{
    height: 100px;
    width: auto;
    border-radius: 25px;
    border: 2px solid black;
}

body {
    background: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: 100%;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    background-color: lightgray;
    width: 100%;
    height: 125px;
}

.flex{
    display: flex;
    flex-direction: row;
  }

.body{
    border: 2px solid black;
    height: 1950px;
  }

  .links{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .image{
    position: absolute;
    bottom: 0;
    padding: 10px;
  }

  a:link{ 
    text-decoration: none;
    color:black; 
  }
  a:visited{ 
    text-decoration: none; 
  }
  a:hover{ 
    text-decoration: none;
    color:red; 
  }
  a:active{ 
    text-decoration: none;
  }
